language: python
python: 3.5

env:
  - TOX_ENV=py27
  - TOX_ENV=py32
  - TOX_ENV=py33
  - TOX_ENV=py34
  - TOX_ENV=py35

before_install:
  - pip install codecov

install:
  - pip install tox

script: tox -e $TOX_ENV

after_success:
  - codecov
